# Dev - prediction

Script:

In [1]:
import pandas as pd

In [2]:
ds = pd.DataFrame(columns=['C', 'A', 'B'])

In [6]:
se = pd.Series(index=['C', 'A', 'B'])

In [16]:
se["C"] = 341

In [17]:
ds = ds.append(se, ignore_index=True)
ds

       C   A   B
0  343.0 NaN NaN
1  343.0 NaN NaN
2  343.0 NaN NaN
3  342.0 NaN NaN
4  341.0 NaN NaN

In [18]:
ds.sort_values(by="C", ascending=True)

       C   A   B
4  341.0 NaN NaN
3  342.0 NaN NaN
0  343.0 NaN NaN
1  343.0 NaN NaN
2  343.0 NaN NaN

# test json

In [5]:
import json

In [24]:
# json_str =   ''' { "m":"1", "1003" : 1 }  ''';  json_str = "[" + json_str + "]" 
json_str =   '''' { "m":"1", "1003" : 1 } ' ''';   
# json_str =   '''  { "m":"1", "1003" : 1 }  ''';  json_str = "[" + json_str + "]" 

json_str = json_str.replace("'", '')

print(json_str)

if json_str[0]=="'": 
    json_str = json_str[1:]
    print(json_str)
    
json_last = len(json_str)-2 
print(json_last)

if json_str[json_last]=="'": 
    json_str = json_str[:json_last-1]
    print(json_str)

    
print(json_str)

json_str = "[" + json_str + "]"
json_data = json.loads(json_str)

print(json_data)

 { "m":"1", "100023" : 1 }
26
 { "m":"1", "100023" : 1 }
[{'m': '1', '100023': 1}]

In [ ]:
    { "m":"1", "c01" :0.75 , "c02" :0.25  }

In [1]:
person = {'name': 'Mary', 'age': 25, 'zzz':2, 'aa':22}
one_year_later = {**person, 'age': 26} 
person = {**person, 'age': 28}

In [2]:
person

{'aa': 22, 'age': 28, 'name': 'Mary', 'zzz': 2}

In [3]:
one_year_later

{'aa': 22, 'age': 26, 'name': 'Mary', 'zzz': 2}

In [16]:
person.update(one_year_later)

In [17]:
person

{'age': 26, 'name': 'Mary'}

In [12]:
dic = {
  "predC4_2": "3-0.00",
  "predC1_1": "73-22.25",
  "predC4_0": "2-100.00",
  "pred": "SEPARATION! ret_str = False!",
  "predC1_4": "72-5.19",
  "predC1_0": "74-32.35",
  "predC1_2": "75-21.64",
  "predC2_1": "0-0.00",
  "predC2_0": "1-100.00",
  "predC1_3": "76-11.21",
  "forml": "{ 'm':'1', '100023' : 1 }",
  "predC4_1": "1-0.00"
}

In [13]:
dic

{'forml': "{ 'm':'1', '100023' : 1 }",
 'pred': 'SEPARATION! ret_str = False!',
 'predC1_0': '74-32.35',
 'predC1_1': '73-22.25',
 'predC1_2': '75-21.64',
 'predC1_3': '76-11.21',
 'predC1_4': '72-5.19',
 'predC2_0': '1-100.00',
 'predC2_1': '0-0.00',
 'predC4_0': '2-100.00',
 'predC4_1': '1-0.00',
 'predC4_2': '3-0.00'}

In [15]:
dict(sorted(dic.items()))

{'forml': "{ 'm':'1', '100023' : 1 }",
 'pred': 'SEPARATION! ret_str = False!',
 'predC1_0': '74-32.35',
 'predC1_1': '73-22.25',
 'predC1_2': '75-21.64',
 'predC1_3': '76-11.21',
 'predC1_4': '72-5.19',
 'predC2_0': '1-100.00',
 'predC2_1': '0-0.00',
 'predC4_0': '2-100.00',
 'predC4_1': '1-0.00',
 'predC4_2': '3-0.00'}